<div id="registerContainer">

  <form
    [formGroup]="registrationForm"
    (ngSubmit)="register()">

    <h1 class="formTitle">Register</h1>
    <mat-form-field class="field" hideRequiredMarker>
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" formControlName="name" style="background-color: #4A4A4A"/>
      <mat-icon matPrefix svgIcon="user_icon"></mat-icon>
        <mat-error *ngIf="registrationForm?.get('name')?.invalid">Invalid name</mat-error>
    </mat-form-field>

    <mat-form-field class="field" hideRequiredMarker>
      <mat-label>Surname</mat-label>
      <input matInput type="text" name="surname" formControlName="surname" style="background-color: #4A4A4A"/>
      <mat-icon matPrefix svgIcon="user_icon"></mat-icon>
        <mat-error *ngIf="registrationForm?.get('surname')?.invalid">Invalid surname</mat-error>
    </mat-form-field>

    <mat-form-field class="field" hideRequiredMarker>
      <mat-label>Address</mat-label>
      <input matInput type="text" name="address" formControlName="address" style="background-color: #4A4A4A"/>
      <mat-icon matPrefix svgIcon="location_icon"></mat-icon>
        <mat-error *ngIf="registrationForm?.get('address')?.invalid">Invalid address</mat-error>
    </mat-form-field>

    <mat-form-field class="field" hideRequiredMarker>
      <mat-label>Mail</mat-label>
      <input matInput type="text" name="mail" formControlName="email" style="background-color: #4A4A4A"/>
      <mat-icon matPrefix svgIcon="envelope_closed_icon"></mat-icon>
        <mat-error *ngIf="registrationForm?.get('email')?.invalid">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field class="field" hideRequiredMarker>
      <mat-label>Phone</mat-label >
      <input matInput type="text" name="phone" formControlName="phone" style="background-color: #4A4A4A"/>
      <mat-icon matPrefix svgIcon="phone_icon"></mat-icon>
        <mat-error *ngIf="registrationForm?.get('phone')?.invalid">Invalid phone number</mat-error>
    </mat-form-field>

    <mat-form-field class="field" hideRequiredMarker>
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" name="password"
             style="background-color: #4A4A4A"
             formControlName="password"/>
      <button mat-icon-button matSuffix type="button" (click)="changePasswordState()" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-icon matPrefix svgIcon="lock_close_icon"></mat-icon>
        <mat-error *ngIf="registrationForm?.get('password')?.invalid">Password must contain at least 8 characters, 1 uppercase letter, q special character and 1 number</mat-error>
    </mat-form-field>

    <mat-form-field class="field" hideRequiredMarker>
      <mat-label>Confirm password</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'"
             style="background-color: #4A4A4A"
             name="confirmPassword" formControlName="confirmPassword"/>
      <button mat-icon-button matSuffix type="button" (click)="changeConfirmPasswordState()"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-icon matPrefix svgIcon="lock_close_icon"></mat-icon>
        <mat-error *ngIf="registrationForm?.get('confirmPassword')?.invalid">Passwords does not match</mat-error>
    </mat-form-field>

    <div id="recaptcha" class="g-recaptcha"></div>

    <div>
      <button mat-raised-button type="submit" id="submitBtn">Register</button>
    </div>

  </form>
</div>

