<div id="loginContainer">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="logIn()"
  >

    <h1 class="formTitle">Sign in</h1>
    <mat-form-field class="field" hideRequiredMarker>
      <mat-label>E-Mail</mat-label>
      <input matInput type="text" name="mail" formControlName="mail"/>
      <mat-error *ngIf="loginForm?.get('mail')?.invalid">Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field class="field" hideRequiredMarker>
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password"/>
      <button mat-icon-button matSuffix type="button" (click)="changePasswordState()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm?.get('password')?.invalid">Invalid password</mat-error>
    </mat-form-field>

    <span id="forgotPasswordSpan" (click)="forgotPassword()">Forgot password?</span>

    <div>
      <button mat-raised-button type="submit" id="submitBtn">Sign in</button>
    </div>

  </form>
</div>



