<form id="resetPasswordContainer"
      [formGroup]="resetPasswordForm" (ngSubmit)="reset()">
    <h1 mat-dialog-title id="modalTitle">Reset password</h1>
    <div mat-dialog-content>
        <mat-form-field class="field" hideRequiredMarker appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" formControlName="email"/>
            <mat-error *ngIf="resetPasswordForm?.get('email')?.invalid">Invalid email.</mat-error>
        </mat-form-field>

        <mat-form-field class="field" hideRequiredMarker *ngIf="emailSent">
            <mat-label>Code</mat-label>
            <input matInput name="code" formControlName="code"/>
            <mat-error *ngIf="resetPasswordForm?.get('newPassword')?.invalid">{{""}}</mat-error>
        </mat-form-field>

        <mat-form-field class="field" hideRequiredMarker appearance="fill" [style.display]="emailSent ? 'block' : 'none'">
            <mat-label>New password</mat-label>
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" name="newPassword"
                   formControlName="newPassword" autocomplete="off"/>
            <button mat-icon-button matSuffix type="button" (click)="changeNewPasswordState()"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="resetPasswordForm?.get('newPassword')?.invalid">Invalid password.</mat-error>
        </mat-form-field>

        <mat-form-field class="field" hideRequiredMarker appearance="fill" [style.display]="emailSent ? 'block' : 'none'">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" name="confirmPassword"
                   formControlName="confirmPassword" autocomplete="off"/>
            <button mat-icon-button matSuffix type="button" (click)="changeConfirmPasswordState()"
                    [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPassword">
                <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="resetPasswordForm?.get('newPassword')?.invalid">Invalid password.</mat-error>
        </mat-form-field>

    </div>
    <div id="buttonDiv" class="modal-footer" mat-dialog-actions>
        <button mat-button type="submit" *ngIf="emailSent">Reset</button>
        <button mat-button type="button" *ngIf="!emailSent" (click)="sendEmail()">Send code</button>
        <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
    </div>
</form>
