<div id="form-container">
    <form [formGroup]="addCertificateForm" (ngSubmit)="addCertificate()">
        <div class="form-group">
            <label>Signature Algorithm:</label>
            <ul id="algorithms-list">
                <mat-list-item [ngClass]="{'selected-text': selectedAlgorithm == 'SHA256withRSA',
                 'selected-alg': selectedAlgorithm == 'SHA256withRSA'}"
                               (click)="changeSelectedAlgorithm('SHA256withRSA')">
                    SHA256withRSA
                </mat-list-item>
                <mat-list-item [ngClass]="{'selected-text': selectedAlgorithm == 'SHA384withRSA',
                 'selected-alg': selectedAlgorithm == 'SHA384withRSA'}"
                               (click)="changeSelectedAlgorithm('SHA384withRSA')">
                    SHA384withRSA
                </mat-list-item>
                <mat-list-item [ngClass]="{'selected-text': selectedAlgorithm == 'SHA512withRSA',
                 'selected-alg': selectedAlgorithm == 'SHA512withRSA'}"
                               (click)="changeSelectedAlgorithm('SHA512withRSA')">
                    SHA512withRSA
                </mat-list-item>
            </ul>

        </div>

        <div class="form-group">
            <label for="issuer-serial-number">Issuer Serial Number:</label>
            <input type="text" [(ngModel)]="serialNumber" formControlName="issuerSerialNumber" id="issuer-serial-number">
        </div>

        <div class="form-group">
            <label >Certificate Type:</label>
            <ul id="cert-type-list">
                <mat-list-item [ngClass]="{'selected-text': selectedType == 'ROOT',
                 'selected-type': selectedType == 'ROOT'}"
                               (click)="changeSelectedType('ROOT')">
                    ROOT
                </mat-list-item>
                <mat-list-item [ngClass]="{'selected-text': selectedType == 'INTERMEDIATE',
                 'selected-type': selectedType == 'INTERMEDIATE'}"
                               (click)="changeSelectedType('INTERMEDIATE')">
                    INTERMEDIATE
                </mat-list-item>
                <mat-list-item [ngClass]="{'selected-text': selectedType == 'END',
                 'selected-type': selectedType == 'END'}"
                               (click)="changeSelectedType('END')">
                    END
                </mat-list-item>
            </ul>
        </div>
        <div class="form-group">
            <label>Flags:</label>
        <section class="checkbox-section">
            <mat-checkbox class="pets-and-babies" [(ngModel)]="flag1" [ngModelOptions]="{standalone: true}">Flag 1</mat-checkbox>
            <mat-checkbox class="pets-and-babies" [(ngModel)]="flag2" [ngModelOptions]="{standalone: true}">Flag 2</mat-checkbox>
            <mat-checkbox class="pets-and-babies" [(ngModel)]="flag3" [ngModelOptions]="{standalone: true}">Flag 3</mat-checkbox>
            <mat-checkbox class="pets-and-babies" [(ngModel)]="flag4" [ngModelOptions]="{standalone: true}">Flag 4</mat-checkbox>
            <mat-checkbox class="pets-and-babies" [(ngModel)]="flag5" [ngModelOptions]="{standalone: true}">Flag 5</mat-checkbox>
            <mat-checkbox class="pets-and-babies" [(ngModel)]="flag6" [ngModelOptions]="{standalone: true}">Flag 6</mat-checkbox>
            <mat-checkbox class="pets-and-babies" [(ngModel)]="flag7" [ngModelOptions]="{standalone: true}">Flag 7</mat-checkbox>
        </section>
        </div>

        <button id="submit-button" type="submit" [disabled]="!addCertificateForm.valid">Create Certificate</button>
    </form>
</div>
